* {
  font-family: 'Raleway';
}

body {
  display: flex;
  flex-direction: column;
  background-color: #e0f7fa;
}

main {
  flex: 1 0 auto;
}

.container_logo {
  display: block;
  margin-top: 10px;
  margin-bottom: 150px;
  max-width: 500px;
}

.img_logo {
  margin: auto;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  z-index: 2000;
}

img.icon {
  width: 30px;
  height: 30px;
  margin: auto;
  margin-top: 10px;
}

li.icon {
  width: 70px;
}

img.logo {
  width: 50px;
  height: 50px;
  margin: auto;
}

img.side {
  min-width: 5px;
  min-height: 5px;
  max-width: 20px;
  max-height: 20px;
  margin: auto;
  margin-right: 10px;
}

img.icon-service {
  display: block;
  width: 60%;
  height: 60%;
  margin: auto;
}

div.top, .mat-tab-label-container {
  margin-top: 50px;
}

p, h1, h2, h3, h4, a.valign, strong.valign {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster';
}

h1.raleway, h2.raleway, h3.raleway, h4.raleway, h5.raleway, h6.raleway {
  font-family: 'Raleway';
}

nav ul a, .button-collapse {
  color: #000;
}

.center {
  text-align: center;
}

.back-col {
  background-color: #F5F5F5 !important; /* grey lighten-4 */
}

a[class~="btn"] {
  background-color: rgba(0, 0, 0, 0.6);
}

.body_container {
  padding: 10px;
}

table {
  background-color: rgba(0, 0, 0, 0.1);
}

table caption {
  background-color: rgba(0, 0, 0, 0.2);
}

.staff-card {
  background-color: rgba(0, 0, 0, 0.1);
}

.db-error.dark {
  background-color: rgba(255, 255, 255, 0.8);
}

button.mat-mini-fab {
  background-color: rgba(0, 0, 0, 0.65) !important;
}

video#bgvid {

  position: fixed; right: 0; top: 0;

  min-width: 100%; min-height: 1080px;

  width: auto; height: 100%; z-index: -100;
}

div.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ad_left {
  position: fixed; top: 100px; left: 10px;
  border: 5px solid black;
  height: 750px;
  width: 250px;
}

.ad_right {
  position: fixed; top: 100px; right: 10px;
  border: 5px solid black;
  height: 750px;
  width: 250px;
}

.hoverable:hover {
  transition: box-shadow .25s;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 8px 23px 0 rgba(0, 0, 0, 0.19);
}

.mappa {
  position: fixed; top: 100px; right: 300px;
  height: 500px; width: 500px;
  border: 5px solid #304ffe;
}

.mappa_tc {
  height: 300px; width: 300px;
  border: 5px solid #304ffe;
}

.ad_map, .sopra {
  z-index: 100;
}

.page-footer {
  margin-top: 0;
}

.tabella {
  margin-top: 20px;
}

.ultima-tabella {
  margin-bottom: 50px;
}

a.valign, strong.valign {
  margin-left: 10px;
}

caption.tabella {
  padding-top: 10px;
  text-align: center;
  min-width: 250px;
}

.icon_event {
  width: 5%;
  height: 5%;
  margin: auto;
  padding: 10px;
}

p.left-align {
  font-size: 1.5em;
}

/* ANIMAZIONE */

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;

  /* background: url("../favicon.ico"); */

  border: 3px solid transparent;
  border-top-color: #3498db;
  border-radius: 50%;
  z-index: 1500;

  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  border-radius: 50%;

  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  border-radius: 50%;

  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222222;
  z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

#content {
  margin: 0 auto;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translateX(-100%);  /* IE 9 */
        transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translateX(100%);  /* IE 9 */
        transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
}

.loaded #loaded-wrapper {
  visibility: hidden;
}

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {

    -webkit-transition: all 0.3s 0.3s ease-out;
            transition: all 0.3s 0.3s ease-out;
}

/* FINE ANIMAZIONE */

/* Back To Top Button -- Thanks to: http://codyhouse.co/gem/back-to-top */
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 50px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.75) url(../icons/cd-top/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
/* End Back To Top */

.opacity-1 {
  opacity: 0.7;
}
.opacity-2 {
  opacity: 0.6;
}
.opacity-3 {
  opacity: 0.5;
}
.opacity-4 {
  opacity: 0.4;
}
.opacity-5 {
  opacity: 0.3;
}
.opacity-6 {
  opacity: 0.2;
}
.opacity-7 {
  opacity: 0.1;
}
.opacity-8 {
  opacity: 0.0;
}

ul.sidenav {
  list-style: none;
}

.mat-tab-labels {
  justify-content: center;
}

.parallax-container {
  height: auto;
  max-height: 300px;
}

div.main {
  min-height: 100vh;
}

p.card-date {
  color: inherit;
}

.icon-staff {
  width: 30px; height: 30px;
  background-image: url('../icons/staff/icon_michele.png');
}

p.left-align {
  font-size: 1em;
}

.rbtn {
  position: relative; right: 10px;
}

.lbtn {
  position: relative; left: 10px;
}

.map-frame, .map-row {
  height: 600px;
}

.margin-copy {
  margin-left: 10px;
}

.footer-icon {
  margin-left: 10px;
}

caption {
  padding: 5px;
}

.dialog {
  overflow: auto;
}

.dialog-title {
  text-align: center;
}

.asd-logo {
  max-width: 150px;
  margin-top: 20px;
}

.footer-list {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}

.full-width {
  width: 100%;
}

.mat-sidenav-container {
  background-color: inherit !important;
}

.banner-corsi {
  width: 100%;
  height: auto;
}

.textarea {
  height: 250px;
}

.mat-select-trigger {
  widows: 150px;
}

.dialog-width {
  width: 90%;
}

.justify, .mat-tab-label-container {
  justify-content: center;
}

.mat-card {
  text-align: center;
}

.mat-card-content {
  text-align: left;
}

img.iceteam {
  width: 300px;
  height: auto;
}

.mat-dialog-container {
  max-height: 80vh;
}

.descrizione {
  margin: 20px 0;

}

.map-frame-event {
  height: 100%;
  width: 100%;
}

.margin-btn {
  margin: 10px;
}

.db-error {
  margin-right: 10%;
  margin-left: 10%;
  background-color: rgba(0, 0, 0, 0.1);
}

.service-info {
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin-left: 20%;
}

.parallax-service {
  margin: 50px 0;
  min-height: 500px;
}

.service-name {
  position: absolute;
  top: 10px;
  left: 10px;
}

.parallax img {
  display: inherit;
}

.row-service-index {
  margin: 0;
  padding: 0;
}

.col-service-index {
  margin: 0;
  padding: 0 !important;
}

.img-service-index {
  max-width: 100%;
}

.img-service-index:hover {
  animation-duration: 1s;
  animation-name: darken;
}

@keyframes darken {
  from {
    filter: brightness(100%);
  }

  to {
    filter: brightness(50%);
  }
}

.credits-div {
  display: block;
  max-width: 40%;
}

.tabella-changes {
  margin-bottom: 20px;
}

.row:after {
  margin-bottom: 20px;
}

.iubenda-ibadge {
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
}

.side-nav {
  width: 250px;
}

.p-dialog {
  font-size: .999em;
}

mat-tab-header {
  margin-bottom: 20px;
}

.btn-group {
  margin: 10px;
  padding: 5px;
}

.admin-input {
  width: 70%;
}

.hide-admin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .999;
  z-index: 100;
}

.login-admin {
  z-index: 101;
}

.btn-admin {
  margin: 10px;
}

@media only screen and (min-width: 768px) {
  .floatl {
    float: left;
  }
}

@media only screen and (max-width: 768px) {
  .mat-tab-labels {
    display: block !important;
  }
  .map-event {
    width: 100%;
    height: 250px;
  }

  .container_logo {
    margin-bottom: 20px;
  }

  .map-row, .map-frame {
    height: 300px;
  }

  .parallax-service {
    min-height: 300px;
  }

  .b-logout {
    top: 80px !important;
  }
}

@media only screen and (max-width: 360px) {
  .p-email-dialog {
    font-size: 0.8em;
  }
}

.iceteam-container {
  width: 95%;
  margin: 0 auto;
}

img.iceteam {
  margin-bottom: 10px;
}

strong {
  font-weight: 600;
}

li.white-text {
  text-transform: uppercase;
  letter-spacing: .5px;
  padding: 0 2rem;
}

.ul-link {
  text-transform: uppercase;
  margin: 0 10px;
}

.mobile-li {
  text-transform: uppercase;
  margin: 10px 0;
}

.p-email-dialog {
  font-size: 0.9em;
}

.admin-form {
  position: fixed;
  top: 10%;
  width: 50%;
}

div.cookie-policy {
  position: fixed; top: 0; left: 0;
  background-color: #000;
  z-index: 999;
  padding: 15px;
  width: 100%;
}

a.cookie-policy-cancel {
  position: absolute;
  top: 10px;
  right: 10px;
}

md-sidenav, md-backdrop {
  position: fixed !important;
}

md-sidenav {
  max-height: 100vh;
  overflow: scroll;
}

.noscroll {
  overflow: hidden;
}

.credit-img {
  width: 100%;
}

.privacy-frame {
  width: 100%;
  min-height: 100vh;
}

.mat-tab-body {
  overflow-y: hidden !important;
}

md-dialog-container {
  overflow-x: hidden;
}

#editor-quill {
  min-height: 200px;
}

#editor-eventi {
  min-height: 200px;
}

#editor-quill p {
  text-align: left;
  color: inherit;
}

.b-invia {
  margin: 10px;
}

.b-logout {
  position: absolute !important;
  right: 20px;
  top: 100px;
}

.i-sponsor {
  max-width: 150px;
  vertical-align: middle;
  display: inline-block;
}

.d-sponsor {
  align-items: center;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 15px;
}

.d-sponsor:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.p-size-large {
  font-size: 1.2em;
}

div.g-recaptcha {
  margin-top: 20px;
}

.map-event {
  width: 70%;
  height: 350px;
  margin: auto;
}

div.info p, div.descrizione p {
  font-size: 1.25em;
}

img.dialog-evento {
  margin: auto;
}

.frame-video {
  width: 100%;
  min-height: 350px;
}

.tech-div {
  margin: auto;
}

.img-anna {
  width: 200px;
}

.container-servizi {
  width: 95%;
}

p {
  font-size: 1.1em;
}


.mean-img {
  max-width: 350px;
  margin: auto;
}
