<div class="main container">
	<div class="hide-admin"></div>
	<div class="card-panel login-admin">
		<form class="center-align">
			<md-input-container class="admin-input">
			    <input mdInput placeholder="Nome utente">
			</md-input-container>
			<br>
			<md-input-container class="admin-input">
		    	<input mdInput type="password" placeholder="Password">
		    </md-input-container>

			<div class="center-align btn-group">
				<a href="javascript:void(0)" (click)="showContent()" class="btn-flat white-text light-blue text-darken-4">Login</a>
			</div>
		</form>
		<div *ngIf="!admin">
			<p class="red-text">You are not allowed!</p>			
		</div>
	</div>
	
	<md-tab-group>
		<md-tab label="EVENTI">
			<admin-eventi></admin-eventi>
		</md-tab>

		<!-- <md-tab label="Calendario">
			<div class="center-align">
				<a href="#agg-cal" class="btn-flat white-text">Aggiungi</a>
				<a href="#mod-cal" class="btn-flat white-text">Modifica</a>
				<a href="#del-cal" class="btn-flat white-text">Elimina</a>
			</div>

			<div id="agg-cal" class="card-panel">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>

			<div id="mod-cal" class="card-panel">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
			<div id="del-cal" class="card-panel">
				Lorem cal dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</md-tab> -->

		<md-tab label="STAFF">
			<admin-staff></admin-staff>
		</md-tab>
	</md-tab-group>
</div>