<div class="btn-group center-align">
	<a (click)="goTo('agg-ev')" class="btn-flat white-text light-blue text-darken-4 btn-admin">Aggiungi</a>
	<a (click)="goTo('mod-ev')" class="btn-flat white-text light-blue text-darken-4 btn-admin">Modifica</a>
	<a (click)="goTo('del-ev')" class="btn-flat white-text light-blue text-darken-4 btn-admin">Elimina</a>
</div>

<div id="agg-ev" class="card-panel">
	<h4>Aggiungi evento</h4>

	<form class="center-align" (submit)="creaEvento()">
		<md-input-container class="admin-input">
		    <input mdInput placeholder="Nome" name="nome" [(ngModel)]="nome" required>
		</md-input-container>
		<br>
		<md-input-container class="admin-input">
	  	<input mdInput type="date" placeholder="Data" name="data" [(ngModel)]="data" required>
	  </md-input-container>
	  <br><br>
	  <md-input-container>
  		<input mdInput type="time" placeholder="Ora Inizio" name="oraInizio" [(ngModel)]="oraInizio" required>
    </md-input-container>
    <md-input-container>
  		<input mdInput type="time" placeholder="Ora Fine" name="oraFine" [(ngModel)]="oraFine">
    </md-input-container>
    <br>
    <div id="editor-eventi" name="descrizione" [(ngModel)]="descrizione"></div>

		<div class="file-field input-field">
			<div class="btn btn-flat light-blue">
				<span>Foto min</span>
				<input type="file" accept="image/jpg">
			</div>
			<div class="file-path-wrapper">
				<input class="file-path validate" type="text">
			</div>
		</div>

		<div class="file-field input-field">
			<div class="btn btn-flat light-blue">
				<span>Foto</span>
				<input type="file" accept="image/jpg">
			</div>
			<div class="file-path-wrapper">
				<input class="file-path validate" type="text">
			</div>
		</div>

		<div>
			<p class="center-align">* Campo obbligatorio</p>
		</div>

		<div class="center-align btn-group">
			<input type="submit" class="btn-flat white-text light-blue text-darken-4 margin-btn">
			<input type="reset" class="btn-flat white-text light-blue text-darken-4 margin-btn">
		</div>
	</form>
</div>

<div id="mod-ev" class="card-panel">
	<h4>Modifica evento</h4>

	<ul class="collapsible popout" data-collapsible="accordion">
		<li *ngFor="let event of events">
			<div class="collapsible-header"> {{event.nome}} - {{traduciData(event.data)}} </div>
			<div class="collapsible-body">
				<form class="center-align">
					<md-input-container class="admin-input">
					    <input mdInput placeholder="Nome" [value]="event.nome" name="nomeEvento">
					</md-input-container>
					<br>
					<md-input-container class="admin-input">
				    	<input mdInput type="date" placeholder="Data" [value]="event.data" name="dataEvento">
				    </md-input-container>
				    <br><br>
				    <md-input-container>
				    	<input mdInput type="time" placeholder="Ora Inizio" [value]="event.oraFine" name="oraInizio">
				    </md-input-container>
				    <md-input-container>
				    	<input mdInput type="time" placeholder="Ora Fine" [value]="event.oraFine" name="oraFine">
				    </md-input-container>
				    <br>
				    <div class="input-field">
						<textarea id={{event._id}} class="textarea materialize-textarea" [value]="event.descrizione" name="descrizione"></textarea>
						<label for={{event._id}}>Descrizione evento</label>
						<br>
					</div>

					<div class="file-field input-field">
						<div class="btn btn-flat light-blue">
							<span>Foto min</span>
							<input type="file" accept="image/jpg">
						</div>
						<div class="file-path-wrapper">
							<input class="file-path validate" type="text">
						</div>
					</div>

					<div class="file-field input-field">
						<div class="btn btn-flat light-blue">
							<span>Foto</span>
							<input type="file" accept="image/jpg">
						</div>
						<div class="file-path-wrapper">
							<input class="file-path validate" type="text">
						</div>
					</div>

					<div class="center-align btn-group">
						<a (click)="aggiornaEvento()" class="btn-flat white-text light-blue text-darken-4 margin-btn">Inserisci</a>
						<input type="reset" class="btn-flat white-text light-blue text-darken-4 margin-btn">
					</div>
				</form>
			</div>
		</li>
	</ul>
</div>
<div id="del-ev" class="card-panel">
  <div *ngFor="let event of events" class="row valign-wrapper">
    <div class="col l8 m8 s7 valign">{{event.nome}} - {{traduciData(event.data)}}</div>
    <div class="col l4 m4 s5">
    	<button (click)="eliminaEvento(event)" class="btn-flat white-text light-blue text-darken-4">Elimina</button>
    </div>
  </div>
</div>
