<div class="container main">
	<div class="hide-on-small-only credits card-panel row center-align top">
		<span class="col l5">
			<h2>Questo sito è stato realizzato da:</h2>
			<div class="row"> <!-- Comune -->
				<div class="col s12 card-panel">
					<img src="../assets/icons/credits/sanve.png" alt="Comune di San Vendemiano" class="credit-img">
					<p>Comune di San Vendemiano</p>
				</div>
			</div>
			<div class="row"> <!-- Estate Sport -->
				<div class="col s12 card-panel">
					<img src="../assets/icons/credits/estatesport.png" alt="Estate Sport" class="credit-img">
					<p>Associazione Culturale Estate Sport</p>
				</div>
			</div>
			<h3>Con la collaborazione di:</h3>
			<div class="row"> <!-- Sponsors -->
				<div class="col s4">
					<p>Sponsor</p>
				</div>
				<div class="col s4">
					<p>Sponsor</p>
				</div>
				<div class="col s4">
					<p>Sponsor</p>
				</div>
				<div class="col s4">
					<p>Sponsor</p>
				</div>
				<div class="col s4">
					<p>Sponsor</p>
				</div>
				<div class="col s4">
					<p>Sponsor</p>
				</div>
			</div>
		</span>
		<span class="col l5 offset-l1">
			<h2>In collaborazione con:</h2>
			<div class="row"> <!-- Daudr -->
				<div class="col s12">
					<img src="../assets/icons/credits/daudr.png" alt="Daudr" class="credit-img">
					<p>Dau&eth;r - Michele Da Rin</p>
				</div>
			</div>
			<h3>Usando le seguenti tecnologie:</h3>
			<div class="row"> <!-- MEAN applications -->
				<div class="col s4">
					<img src="../assets/icons/credits/mongodb.png" alt="MongoDB" class="credit-img">
					<p>MongoDB</p>
				</div>
				<div class="col s4">
					<img src="../assets/icons/credits/express.png" alt="ExpressJS" class="credit-img">
					<p>ExpressJS</p>
				</div>
				<div class="col s4">
					<img src="../assets/icons/credits/angular.png" alt="Angular 2" class="credit-img">
					<p>Angular 2</p>
				</div>
				<div class="col s4">
					<img src="../assets/icons/credits/node.png" alt="NodeJS" class="credit-img">
					<p>NodeJS</p>
				</div>
				<div class="col s4">
					<img src="../assets/icons/credits/materialize.png" alt="MaterializeCSS" class="credit-img">
					<p>MaterializeCSS</p>
				</div>
			</div>
			<h5>Senza dimenticare:</h5>
			<div class="row"> <!-- Altre tecnologie usate -->
				<p><a href="www.google.com" title="Back-to-top Credits">Bottone back-to-top</a></p>
			</div>
		</span>
	</div>
</div>