<div class="container main">
	<div class="credits card-panel row center-align top">
		<span class="col l5">
			<h2 class="hide-on-small-only">Questo sito è stato realizzato da:</h2>
			<h3 class="hide-on-med-and-up">Questo sito è stato realizzato da:</h3>
			<div class="row"> <!-- Comune -->
				<a href="http://www.comune.sanvendemiano.tv.it/" target="_blank">
					<div class="col s12 card-panel">
						<img src="../assets/icons/credits/sanve.png" alt="Comune di San Vendemiano" class="credit-img">
						<p>Comune di San Vendemiano</p>
					</div>
				</a>
			</div>
			<div class="row"> <!-- Estate Sport -->
				<a href="https://www.facebook.com/EstateSportSanVendemiano/" target="_blank">
					<div class="col s12 card-panel">
						<img src="../assets/icons/credits/estatesport.png" alt="Estate Sport" class="credit-img">
						<p>Associazione Culturale Estate Sport</p>
					</div>
				</a>
			</div>
			<h3 class="hide-on-small-only">Con l'aiuto di:</h3>
			<h4 class="hide-on-med-and-up">Con l'aiuto di:</h4>
			<div class="row"> <!-- Sponsors -->
				<a href="#" *ngFor="let sponsor of sponsors">
					<div class="col l4 m4 s6">
						<img src={{sponsor.icon}} alt="logo sponsor" class="i-sponsor">
					</div>
				</a>
		</span>
		<span class="col l5 s8 offset-l1 offset-s2">
			<h2 class="hide-on-small-only">In collaborazione con:</h2>
			<h4 class="hide-on-med-and-up">Collaborando con:</h4>
			<div class="row"> <!-- Daudr -->
				<a href="www.daudr.me">
					<div class="col s12">
						<img src="../assets/icons/credits/daudr.png" alt="Daudr" class="credit-img">
						<p>Dau&eth;r - Michele Da Rin</p>
					</div>
				</a>
			</div>
			<h3 class="hide-on-small-only">Usando le seguenti tecnologie:</h3>
			<h4 class="hide-on-med-and-up">Usando le seguenti tecnologie:</h4>
			<div class="row"> <!-- MEAN applications -->
				<a href="https://www.mongodb.com/" target="_blank">
					<div class="col s8 m4 offset-s2">
						<img src="../assets/icons/credits/mongodb.png" alt="MongoDB" class="credit-img">
						<p>MongoDB</p>
					</div>
				</a>
				<a href="http://expressjs.com/it/" target="_blank">
					<div class="col s8 m4 offset-s2">
						<img src="../assets/icons/credits/express.png" alt="ExpressJS" class="credit-img">
						<p>ExpressJS</p>
					</div>
				</a>
				<a href="https://angular.io/" target="_blank">
					<div class="col s8 m4 offset-s2">
						<img src="../assets/icons/credits/angular.png" alt="Angular 2" class="credit-img">
						<p>Angular</p>
					</div>
				</a>
				<a href="https://nodejs.org/en/" target="_blank">
					<div class="col s8 m4 offset-s2">
						<img src="../assets/icons/credits/node.png" alt="NodeJS" class="credit-img">
						<p>NodeJS</p>
					</div>
				</a>
				<a href="http://materializecss.com/" target="_blank">
					<div class="col s8 m4 offset-s2">
						<img src="../assets/icons/credits/materialize.png" alt="MaterializeCSS" class="credit-img">
						<p>MaterializeCSS</p>
					</div>
				</a>
			</div>
		</span>
	</div>
</div>
