<!-- ADVERTISEMENT -->
<!-- <div class="ad_left hide-on-med-and-down"><img src="assets/icons/ads/ads.png" alt="Annuncio"></div> -->
<!-- <div class="ad_right hide-on-med-and-down"><img src="assets/icons/ads/ads.png" alt="Annuncio"></div> -->

<div class="container main">
	<md-tab-group>
		<md-tab label="FUTURI">
			<!-- FUTURI -->
			<div class="container">
				<h1 class="center-align">Eventi questa settimana</h1>
				<div class="row">

					<!-- 1 -->
					<div class="col s8 m8 l5 offset-s2 offset-m2" *ngFor="let event of soonEvents">
						<a (click)="openEventDialog()">
							<md-card class="card">
							  <img md-card-image src="../assets/icons/events/evento2801-min.jpeg">
							  <md-card-content>
							    <span class="card-title grey-text-text-darken-4">
							    	Il Piave mormorava
							    	<a (click)="openEventDialog()">
							    		<button md-mini-fab class="light-blue accent-1 right white-text">
							    			<md-icon>add</md-icon>
							    		</button>
							    	</a>
							    </span>
							    <p class="left-align card-date">28/01/2017</p>
							  </md-card-content>
							</md-card>
						</a>
					</div>

					<div class="card-panel center-align" *ngIf="!soonEvents">
						<h3>Errore nel caricamento di eventi futuri</h3>
					</div>

					<!-- 2
					<div class="col s8 m8 l5 offset-s2 offset-m2">
						<div class="card">
							<div class="card-image waves-effect waves-block waves-light">
								<img class="activator center-align icon_event" src="../assets/icons/other/gear.svg">
							</div>
							<div class="card-content">
								<span class="card-title activator grey-text-text-darken-4">Evento #2<a class="btn-floating btn waves-effect waves-light red right"><i class="material-icons">add</i></a></span>
								<p class="left-align">30/10/2016</p>
							</div>
							<div class="card-reveal">
								<span class="card-title grey-text text-darken-4">Evento #2<i class="material-icons right">close</i></span>
								<p>Queste sono le informazioni relative ad un evento. Da aggiungere ancora tutto (Nome, data, ora, luogo, immagine, descrizione).</p>
							</div>
						</div>
					</div>

						3 
					<div class="col s8 m8 l5 offset-s2 offset-m2">
						<div class="card">
							<div class="card-image waves-effect waves-block waves-light">
								<img class="activator center-align icon_event" src="../assets/icons/other/gear.svg">
							</div>
							<div class="card-content">
								<span class="card-title activator grey-text-text-darken-4">Evento #3<a class="btn-floating btn waves-effect waves-light red right"><i class="material-icons">add</i></a></span>
								<p class="left-align">30/10/2016</p>
							</div>
							<div class="card-reveal">
								<span class="card-title grey-text text-darken-4">Evento #3<i class="material-icons right">close</i></span>
								<p>Queste sono le informazioni relative ad un evento. Da aggiungere ancora tutto (Nome, data, ora, luogo, immagine, descrizione).</p>
							</div>
						</div>
					</div> -->
				</div>
			</div>

			<div class="container">
				<h1 class="center-align">Prossimamente</h1>

				<div class="row" >
					<div class="col s8 m6 l4 offset-s2" *ngFor="let event of futureEvents">	<!-- FOR LOOP -->

					<!-- 1 -->
						<div class="card">
							<div class="card-image waves-effect waves-block waves-light">
								<!-- Immagine card -->
								<img class="activator center-align icon_event" src="../assets/icons/other/gear.svg">
							</div>
							<div class="card-content">
								<span class="card-title activator grey-text-text-darken-4">{{evento.nome}}<a class="btn-floating btn waves-effect waves-light red right"><i class="material-icons">add</i></a></span>
								<p class="left-align">{{evento.data | date:'dd/MM/yyyy'}}</p>
							</div>
							<div class="card-reveal">
								<span class="card-title grey-text text-darken-4">{{evento.nome}}<i class="material-icons right">close</i></span>
								<p>{{evento.descrizione}}</p>
							</div>
						</div>
					</div>

					<div class="card-panel center-align" *ngIf="!futureEvents">
						<h3>Errore nel caricamento di eventi futuri</h3>
					</div>
				</div>
			</div>
		</md-tab>
		<md-tab label="PASSATI">
			<!-- PASSATI -->
			<div class="row">

					<!-- 1 -->
					<div class="col s8 m6 l4 offset-s2" *ngFor="let event of pastEvents">
						<div class="card">
							<div class="card-image waves-effect waves-block waves-light">
								<!-- Immagine card -->
								<img class="activator center-align icon_event" src="../assets/icons/other/gear.svg" >
							</div>
							<div class="card-content">
								<span class="card-title activator grey-text-text-darken-4">Evento #1<a class="btn-floating btn waves-effect waves-light red right"><i class="material-icons">add</i></a></span>
								<p class="left-align">30/10/2016</p>
							</div>
							<div class="card-reveal">
								<span class="card-title grey-text text-darken-4">Evento #1<i class="material-icons right">close</i></span>
								<p>Queste sono le informazioni relative ad un evento. Da aggiungere ancora tutto (Nome, data, ora, luogo, immagine, descrizione).</p>
							</div>
						</div>
					</div>

					<div class="card-panel center-align" *ngIf="!pastEvents">
						<h3>Errore nel caricamento di eventi passati</h3>
					</div>
				</div>
		</md-tab>
	</md-tab-group>
</div>