<div class="card-panel light-blue lighten-4 left-align">
	<h4>Cos'è l'hockey</h4>
	<p>
		L'hockey su ghiaccio è uno sport di squadra disputato sul ghiaccio in cui i pattinatori attraverso l'utilizzo di un bastone ricurvo indirizzano il puck (oppure "disco") nella porta della squadra avversaria.
	</p>
	<p>
		L'hockey su ghiaccio è lo sport più popolare in quelle nazioni dal clima sufficientemente freddo da permettere la formazione di una copertura naturale di ghiaccio in ambienti esterni, come il Canada, la Repubblica Ceca, la Lettonia, i paesi nordici (in particolare Finlandia e Svezia), Stati Uniti, Russia, Slovacchia e Svizzera. Con l'avvento delle piste di ghiaccio artificiali si è potuto iniziare a praticarlo anche nei mesi caldi e soprattutto nei paesi dal clima più caldo. L'hockey su ghiaccio è riconosciuto come uno dei quattro principali sport americani. A livello mondiale infatti il campionato più importante è la National Hockey League (NHL), che raccoglie le migliori squadre degli Stati Uniti e del Canada. Inoltre è lo sport nazionale del Canada, dove esso gode di una grandissima popolarità.
	</p>
	<p>
		Sebbene siano 68 i membri totali della International Ice Hockey Federation (IIHF), oltre il 90 percento delle medaglie attribuite nei campionati mondiali sono state conquistate da sole otto squadre: Canada, Russia, Repubblica Ceca, Finlandia, Slovacchia, Svezia, Svizzera e Stati Uniti Inoltre, delle medaglie maschili assegnate durante i Giochi olimpici a partire dall'edizione di Anversa 1920, solo sei non sono state vinte dalle principali compagini mondiali. Tutte le medaglie olimpiche e dei mondiali femminili sono state vinte dalle sette maggiori nazionali, mentre le medaglie d'oro sono state tutte vinte o dal Canada o dagli Stati Uniti.
	</p>
	<div class="row">
    <img src="../assets/icons/iceteam/hockey/foto1.jpg" class="col l4 m6 s12 materialboxed iceteam">
  </div>
</div>
<div class="card-panel light-blue lighten-4 right-align">
	<h4>Alcune regole importanti</h4>
	<p>
		Un incontro di hockey su ghiaccio dura normalmente 60 minuti (tre tempi - chiamati anche "terzi" - da 20 minuti). Gli intervalli fra un tempo e l'altro durano 15 minuti. A differenza di molti altri sport nell'hockey su ghiaccio non esiste il pareggio: se al termine di una partita il risultato è ancora di parità, viene giocato un tempo supplementare, di venti o cinque minuti, che termina immediatamente con il gol di una delle due squadre. Se al termine del tempo supplementare nessuna delle due squadre ha segnato, la partita viene decisa ai rigori oppure, a seconda del campionato, i tempi supplementari possono proseguire ad oltranza.
	</p>
	<p>
		Una squadra di hockey su ghiaccio è composta al massimo di 22 giocatori, 20 di movimento e 2 portieri. Durante una partita possono essere sul ghiaccio al massimo 6 giocatori contemporaneamente. La regola prevede che siano 5 giocatori di movimento e un portiere, ma in situazioni particolari, il portiere può essere sostituito da un sesto giocatore di movimento.
	</p>
	<h4>e alcuni concetti</h4>
	<p>
		<strong>Ingaggio</strong>: quando viene fischiato l'inizio del gioco all'inizio di un tempo o dopo un'interruzione di gioco, si ha un ingaggio. Due giocatori avversari stanno uno di fronte all'altro all'interno di un cerchio dell'ingaggio ed il puck viene fatto cadere da un guardalinee. I due giocatori cercano di entrare in possesso del puck.
	</p>
	<p>
		<strong>Liberazione vietata</strong>: si ha quando il puck supera - direttamente o dopo aver toccato la balaustra - la linea di centrocampo e la linea di porta avversaria dopo un rinvio dalla difesa. Viene fischiata l'interruzione del gioco e si ha un ingaggio. Questa regola non viene applicata se il disco attraversa l'area di porta oppure quando la squadra che effettua la liberazione sta giocando in inferiorità numerica. Nell'NHL l'icing è chiamato se il disco è toccato dalla squadra avversaria.
	</p>
	<p>
		<strong>Gioco con un uomo in più</strong>: quando viene irrogata una sanzione disciplinare ad un giocatore, e questo finisce in panca puniti, la sua squadra resta con un uomo in meno sul ghiaccio (situazione di shorthand). La squadra che non ha subito la penalità gode dunque di un vantaggio, giocando in 5 contro 4 (oppure 5 contro 3, se viene irrogata una seconda penalità).
	</p>
	<p>
		<a href="https://commons.wikimedia.org/wiki/File:Germany-Belarus-2010-Hockey-World-Cup-Face-Off.jpg#/media/File:Germany-Belarus-2010-Hockey-World-Cup-Face-Off.jpg">
			<img src="https://upload.wikimedia.org/wikipedia/commons/b/ba/Germany-Belarus-2010-Hockey-World-Cup-Face-Off.jpg" alt="Germany-Belarus-2010-Hockey-World-Cup-Face-Off.jpg" height="145" width="193">
		</a>
		<br>
		Di <a href="//commons.wikimedia.org/wiki/User:Kragenfaultier" title="User:Kragenfaultier">
			Kragenfaultier
		</a>
		-
		<span class="int-own-work" lang="it">
		 	Opera propria
		</span>,
		<a href="http://creativecommons.org/licenses/by-sa/3.0" title="Creative Commons Attribution-Share Alike 3.0">
			CC BY-SA 3.0
		</a>,
		<a href="https://commons.wikimedia.org/w/index.php?curid=10357354">
			Collegamento
		</a>
	</p>
</div>
<div class="card-panel light-blue lighten-4 left-align">
	<h4>L'hockey a Magie D'Inverno</h4>
	<p>
		Magie D'Inverno, in collaborazione con l'EstateSport Eventi e il comune di San Vendemiano, consente a tutti i ragazzi e bambini di poter provare a cimentarsi in questo sport.
	</p>
</div>
<div class="card-panel light-blue lighten-4 right-align">
	<h4>Orari allenamenti</h4>
	<div class="row">
			<table class="col s12 m10 l6 offset-m1 offset-l3 body_container tabella centered">
				<thead>
					<tr>
						<th data-field="giorno">Squadra</th>
						<th data-field="turno_mattina">Giorno</th>
						<th data-field="primo_turno">Orario</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Hockey C</td>
						<td>Lunedì</td>
						<td>16:30 - 17:30</td>
					</tr>
					<tr>
						<td>Hockey A e B</td>
						<td> Lunedì </td>
						<td>17:30 - 18:30</td>
					</tr>
					<tr>
						<td>Hockey C</td>
						<td>Mercoledì</td>
						<td>16:30 - 17:30</td>
					</tr>
					<tr>
						<td>Hockey A e B</td>
						<td> Mercoledì </td>
						<td>17:30 - 18:30</td>
					</tr>
					<tr>
						<td>Hockey</td>
						<td> Venerdì </td>
						<td>16:30 - 17:30</td>
					</tr>
				</tbody>
			</table>
	</div>
</div>
