<div class="main container">
  <div class="card-panel">
  	<h4>Cos'è l'hockey</h4>
  	<p>
	  	L'hockey su ghiaccio è uno sport di squadra disputato sul ghiaccio in cui i pattinatori attraverso l'utilizzo di un bastone ricurvo indirizzano il puck (oppure "disco") nella porta della squadra avversaria.

		L'hockey su ghiaccio è lo sport più popolare in quelle nazioni dal clima sufficientemente freddo da permettere la formazione di una copertura naturale di ghiaccio in ambienti esterni, come il Canada, la Repubblica Ceca, la Lettonia, i paesi nordici (in particolare Finlandia e Svezia), Stati Uniti, Russia, Slovacchia e Svizzera. Con l'avvento delle piste di ghiaccio artificiali si è potuto iniziare a praticarlo anche nei mesi caldi e soprattutto nei paesi dal clima più caldo. L'hockey su ghiaccio è riconosciuto come uno dei quattro principali sport americani. A livello mondiale infatti il campionato più importante è la National Hockey League (NHL), che raccoglie le migliori squadre degli Stati Uniti e del Canada. Inoltre è lo sport nazionale del Canada, dove esso gode di una grandissima popolarità.

		Sebbene siano 68 i membri totali della International Ice Hockey Federation (IIHF), oltre il 90 percento delle medaglie attribuite nei campionati mondiali sono state conquistate da sole otto squadre: Canada, Russia, Repubblica Ceca, Finlandia, Slovacchia, Svezia, Svizzera e Stati Uniti Inoltre, delle medaglie maschili assegnate durante i Giochi olimpici a partire dall'edizione di Anversa 1920, solo sei non sono state vinte dalle principali compagini mondiali. Tutte le medaglie olimpiche e dei mondiali femminili sono state vinte dalle sette maggiori nazionali, mentre le medaglie d'oro sono state tutte vinte o dal Canada o dagli Stati Uniti.
	</p>
  </div>
</div>
