<div class="card-panel light-blue lighten-4 left-align">
	<h4>Cos'è il pattinaggio di figura a rotelle</h4>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>
	<p>
		<a href="https://commons.wikimedia.org/wiki/File:Overture_complete.jpg#/media/File:Overture_complete.jpg">
			<img src="https://upload.wikimedia.org/wikipedia/commons/0/0d/Overture_complete.jpg" alt="Overture complete.jpg" height="145" width="151">
		</a>
		<br>Di Arthur Lee - 合成照, Pubblico dominio,
		<a href="https://commons.wikimedia.org/w/index.php?curid=18437225">
			Collegamento
		</a>
	</p>
</div>
<div class="card-panel light-blue lighten-4 left-align">
	<h4>Il pattinaggio artistico in-line a Magie D'Inverno</h4>
	<p>
		Con la chiusura della stagione invernale, Magie D'Inverno è pronto a tornare in versione estiva a partire da aprile.
	</p>
</div>
<div class="card-panel light-blue lighten-4 right-align">
	<h4>Orari allenamenti</h4>
	<div class="row">
			<table class="col s12 m10 l6 offset-m1 offset-l3 body_container tabella centered">
				<thead>
					<tr>
						<th data-field="giorno">Squadra</th>
						<th data-field="turno_mattina">Giorno</th>
						<th data-field="primo_turno">Orario</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Gruppo A e B</td>
						<td> Martedì </td>
						<td>16:30 - 17:30</td>
					</tr>
					<tr>
						<td>Gruppo C</td>
						<td> Martedì </td>
						<td>17:30 - 18:30</td>
					</tr>
					<tr>
						<td>Gruppo A e B</td>
						<td> Giovedì </td>
						<td>16:30 - 17:30</td>
					</tr>
					<tr>
						<td>Gruppo C</td>
						<td> Giovedì </td>
						<td>17:30 - 18:30</td>
					</tr>
				</tbody>
			</table>
	</div>
</div>