<div class="card-panel back-col left-align">
	<h4>Cos'è il pattinaggio di figura a rotelle</h4>
	<p>
		Il pattinaggio di figura in linea è uno sport di recente diffusione, ultimo nato tra i vari tipi di pattinaggio di figura e che utilizza specifici pattini in linea. Si pratica sia a livello agonistico — sulle stesse piste idonee al pattinaggio artistico a rotelle, e con competizioni simili — ma anche come modalità di allenamento estivo su superfici di fortuna, nei periodi di inattività delle piste di ghiaccio.
	</p>
</div>
<div class="card-panel back-col left-align">
	<h4>Il pattinaggio artistico in-line a Magie D'Inverno</h4>
	<p>
		Con la chiusura della stagione invernale, Magie D'Inverno è pronto a tornare in versione estiva a partire da aprile.
	</p>
</div>
<div class="card-panel back-col right-align">
	<h4>Orari allenamenti</h4>
	<div class="row">
			<table class="col s12 m10 l6 offset-m1 offset-l3 body_container tabella centered">
				<thead>
					<tr>
						<th data-field="giorno">Squadra</th>
						<th data-field="turno_mattina">Giorno</th>
						<th data-field="primo_turno">Orario</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Gruppo A e B</td>
						<td> Martedì </td>
						<td>16:30 - 17:30</td>
					</tr>
					<tr>
						<td>Gruppo C</td>
						<td> Martedì </td>
						<td>17:30 - 18:30</td>
					</tr>
					<tr>
						<td>Gruppo A e B</td>
						<td> Giovedì </td>
						<td>16:30 - 17:30</td>
					</tr>
					<tr>
						<td>Gruppo C</td>
						<td> Giovedì </td>
						<td>17:30 - 18:30</td>
					</tr>
				</tbody>
			</table>
	</div>
</div>
