<div class="card-panel light-light-blue lighten-4 light-light-blue lighten-4 left-align">
	<h4>Cos'è il pattinaggio di figura</h4>
	<p>
		Il pattinaggio di figura è uno sport invernale individuale, di coppia e di squadra in cui gli atleti, dotati di pattini, eseguono sul ghiaccio degli esercizi composti da figure, passi, trottole e salti, su una base musicale. Fu il primo sport invernale incluso nelle Olimpiadi, nel 1908. Le quattro discipline olimpiche sono individuale maschile, individuale femminile, coppia, danza. Il pattinaggio sincronizzato non è disciplina olimpica. Dalle competizioni di livello intermedio al senior, i pattinatori generalmente eseguono due programmi (corto e lungo o libero), che a seconda della disciplina possono includere trottole, salti, sequenze di passi, sollevamenti, salti lanciati, spirali, e altri elementi o passi.
	</p>
	<p>
		<a href="https://commons.wikimedia.org/wiki/File:Sit_spin.jpg#/media/File:Sit_spin.jpg">
			<img src="https://upload.wikimedia.org/wikipedia/commons/6/6e/Sit_spin.jpg" alt="Sit spin.jpg" height="145" width="164">
		</a>
		<br>
		L'utente che ha caricato il file è stato
		<a href="https://en.wikipedia.org/wiki/User:Vesperholly" class="extiw" title="wikipedia:User:Vesperholly">
			Vesperholly
		</a>
		di
		<a href="https://en.wikipedia.org/wiki/" class="extiw" title="wikipedia:">
			Wikipedia in inglese
		</a>
		- Trasferito da&nbsp;
		<span class="plainlinks">
			<a class="external text" href="//en.wikipedia.org">
				en.wikipedia
			</a>
		</span>
		&nbsp;su Commons.,
		<a href="http://creativecommons.org/licenses/by-sa/2.5" title="Creative Commons Attribution-Share Alike 2.5">
			CC BY-SA 2.5
		</a>,
		<a href="https://commons.wikimedia.org/w/index.php?curid=2707744">
			Collegamento
		</a>
	</p>
</div>
<div class="card-panel light-light-blue lighten-4 light-light-blue lighten-4 light-light-blue lighten-4 left-align">
	<h4>Il pattinaggio di figura a Magie D'Inverno</h4>
	<p>
		Magie D'Inverno, in collaborazione con Estate Sport Eventi e il comune di San Vendemiano, organizza dei corsi di pattinaggio di figura, rivolta a tutti, durante la settimana.
	</p>
</div>
<div class="card-panel light-light-blue lighten-4 light-light-blue lighten-4 right-align">
	<h4>Orari allenamenti</h4>
	<div class="row">
			<table class="col s12 m10 l6 offset-m1 offset-l3 body_container tabella centered">
				<thead>
					<tr>
						<th data-field="giorno">Squadra</th>
						<th data-field="turno_mattina">Giorno</th>
						<th data-field="primo_turno">Orario</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Artistico 1 </td>
						<td> Martedì </td>
						<td>16:30 - 17:30</td>
					</tr>
					<tr>
						<td>Artistico 2 - 3</td>
						<td> Martedì </td>
						<td>17:30 - 18:30</td>
					</tr>
					<tr>
						<td>Artistico 4 - 5</td>
						<td> Martedì </td>
						<td>18:30 - 19:30</td>
					</tr>
					<tr>
						<td>Artistico 1 </td>
						<td> Giovedì </td>
						<td>16:30 - 17:30</td>
					</tr>
					<tr>
						<td>Artistico 2 - 3</td>
						<td> Giovedì </td>
						<td>17:30 - 18:30</td>
					</tr>
					<tr>
						<td>Artistico 4 - 5</td>
						<td> Giovedì </td>
						<td>18:30 - 19:30</td>
					</tr>
					<tr>
						<td>Artistico</td>
						<td>Venerdì</td>
						<td>18:00 - 19:00</td>
					</tr>
				</tbody>
			</table>
	</div>
</div>