<!-- ADVERTISEMENT -->
<!-- <div class="ad_left hide-on-med-and-down"><img src="assets/icons/ads/ads.png" alt="Annuncio"></div> -->
<!-- <div class="ad_right hide-on-med-and-down"><img src="assets/icons/ads/ads.png" alt="Annuncio"></div> -->

<div class="container main">
	<div class="card-panel light-blue accent-1 top">
		<div class="row">
			<div class="col s12">
				<h1><strong>Magie D'Inverno offre i seguenti servizi: </strong></h1>
			</div>					
		</div>
		<div class="row top">
			<div class="col s8 m6 l3 offset-s2">

			<!-- Card layout (forse in futuro) -->
				<!--
					<div class="card">
						<div class="card-image waves-effect waves-block waves-light">
							<img class="activator" src="../assets/icons/services/ice-skating.png" alt="Pattino">
						</div>
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4">Noleggio Pattini<i class="material-icons right">more_vert</i></span>
						</div>
						<div class="card-reveal">
							<span class="card-title grey-text text-darken-4">Noleggio Pattini<i class="material-icons right">close</i></span>
							<p>A Magie D'Inverno offriamo un ottimo servizio di noleggio pattini, con misure dal 23 al 46. E se hai i tuoi pattini hai diritto al biglietto ridotto.</p>
						</div>
					</div>
				-->
				<img src="../assets/icons/services/ice-skating.png" alt="Pattino" class="icon-service responsive-img">
				<p>
					<strong>Noleggio pattini</strong>
				</p>
				<p>
					A Magie D'Inverno offriamo un ottimo servizio di noleggio pattini, con misure dal 23 al 46.
					E se hai i tuoi pattini hai diritto al biglietto ridotto.
				</p>
			</div>
			<div class="col s8 m6 l3 offset-s2">
				<img src="../assets/icons/services/people.svg" alt="Pattino" class="icon-service">
				<p>
					<strong>Cucina</strong>
				</p>
				<p>
					A Magie D'Inverno sono presenti varie casette con cucina per offrire ai visitatori cibo semplice senza aspettare, da un classico panino al pastin a un piatto di spiedo appena fatto.
				</p>
			</div>
			<div class="col s8 m6 l3 offset-s2">
				<img src="../assets/icons/services/fair-stand.svg" alt="Mercatino" class="icon-service">
				<p>
					<strong>Mercatino</strong>
				</p>
				<p>
				A Magie D'Inverno sono presenti varie bancarelle espositve in cui si possono comprare oggetti natalizi e non.
				</p>
			</div>
			<div class="col s8 m6 l3 offset-s2">
				<img src="../assets/icons/services/teacher-talking-to-a-group.svg" alt="Lezioni" class="icon-service">
				<p>
					<strong>Lezioni di pattinaggio</strong>
				</p>
				<p>
					Magie D'Inverno offre ai più piccoli lezioni di avviamento gratuite con personale qualificato.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col s8 m6 l3 offset-s2">
				<p>
				<strong>Gonfiabili/Area bimbi</strong>
				</p>
				<p>
				
				</p>
			</div>
			<div class="col s8 m6 l3 offset-s2">
				<p>
				<strong>Capannone coperto e riscaldato</strong>
				</p>
				<p>
				
				</p>
			</div>
			<div class="col s8 m6 l3 offset-s2">
				<img src="../assets/icons/services/wifi-signal.svg" alt="Wifi" class="icon-service">
				<p>
					<strong>WiFi</strong>
				</p>
				<p>
				
				</p>
			</div>
			<div class="col s8 m6 l3 offset-s2">
				<img src="../assets/icons/services/hockey.svg" alt="Wifi" class="icon-service">
				<p>
					<strong>Hockey</strong>
				</p>
				<p>
				
				</p>
			</div>
		</div>
	</div>
</div>