<!-- ADVERTISEMENT -->
<!-- <div class="ad_left hide-on-med-and-down"><img src="assets/icons/ads/ads.png" alt="Annuncio"></div> -->
<!-- <div class="ad_right hide-on-med-and-down"><img src="assets/icons/ads/ads.png" alt="Annuncio"></div> -->

<div class="container main">
	<div class="parallax-container parallax-service" id={{servizio.id}} *ngFor="let servizio of servizi">
		<div class="parallax">
			<img src={{servizio.foto}}>
		</div>
		<h2 class="service-name hide-on-small-only">{{servizio.nome}}</h2>
		<h4 class="service-name hide-on-med-and-up">{{servizio.nome}}</h4>
		<div class="card-panel service-info">
			<p>{{servizio.descrizione}}</p>
		</div>
	</div>
</div>