<div class="cookie-policy" *ngIf="!cookieAccepted">
	<a class="cookie-policy-cancel" (click)="hideCookieBanner()"><i class="material-icons white-text">cancel</i></a>
	<p class="white-text left-align">Informativa</p>

	<p class="white-text left-align">
		Questo sito o gli strumenti terzi da questo utilizzati si avvalgono di cookie necessari al funzionamento ed utili alle finalità illustrate nella cookie policy. Se vuoi saperne di più consulta la <a routerLink="/privacy">Cookie Policy</a>.
	</p>
	<p class="white-text left-align">
		Chiudendo questo banner acconsenti all’uso dei cookie.
	</p>
	<div class="center-align">
		<a class="btn btn-flat white-text" (click)="hideCookieBanner()">Chiudi</a>
	</div>
</div>

<md-sidenav-container>
	<md-sidenav #sidenav class="side-nav back-col">
		<ul class="sidenav back-col">
	    <li routerLinkActive="active"><a routerLink="/index" (click)="this.sidenav.toggle()" class="mobile-li">Home</a></li>
			<li routerLinkActive="active"><a routerLink="/orari" (click)="this.sidenav.toggle()" class="mobile-li">Prezzi/Orari</a></li>
			<li routerLinkActive="active"><a routerLink="/servizi" (click)="this.sidenav.toggle()" class="mobile-li">Servizi</a></li>
			<li routerLinkActive="active"><a routerLink="/eventi" (click)="this.sidenav.toggle()" class="mobile-li">Eventi</a></li>
			<li routerLinkActive="active"><a routerLink="/contatti" (click)="this.sidenav.toggle()" class="mobile-li">Contatti</a></li>
			<li routerLinkActive="active">
				<a routerLink="/iceteam" (click)="this.sidenav.toggle()">
					<img class="asd-logo" src="assets/icons/logo/logo_iceteam.webp" alt="A.S.D. Ice Team Sanve">
				</a>
			</li>
			<br>
			<li><a href="https://www.facebook.com/magiedinverno" target="_blank" class="btn-flat"><img src="assets/icons/social/facebook.png" alt="Facebook" class="side">Facebook</a></li>
			<li>
				<a href="https://www.instagram.com/magie_inverno_official/" target="_blank" class="btn-flat">
					<img src="assets/icons/social/instagram.png" alt="Instagram" class="side">Instagram
				</a>
			</li>
	      	<li><a href="https://www.youtube.com/watch?v=L8kx_VK4OMc" target="_blank" class="btn-flat"><img src="assets/icons/social/youtube.png" alt="YouTube" class="side">YouTube</a></li>
	    </ul>
	</md-sidenav>

	{{ addNoScroll(this.sidenav) }}

	<div class="navbar-fixed">
		<nav>
		    <div class="nav-wrapper back-col">
		    	<a routerLink="/index" class="brand-logo center hide-on-large-only"><img src="assets/icons/logo/magie_dinverno_logo.png" alt="Magie D'Inverno" class="logo center"></a>
				<a (click)="sidenav.open()" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul id="nav-mobile" class="left hide-on-med-and-down">
					<li routerLinkActive="active"><a routerLink="/index" class="ul-link">Home</a></li>
					<li routerLinkActive="active"><a routerLink="/orari" class="ul-link">Prezzi/Orari</a></li>
					<li routerLinkActive="active"><a routerLink="/servizi" class="ul-link">Servizi</a></li>
					<li routerLinkActive="active"><a routerLink="/eventi" class="ul-link">Eventi</a></li>
					<li routerLinkActive="active"><a routerLink="/contatti" class="ul-link">Contatti</a></li>
				</ul>
				<ul class="right hide-on-med-and-down">
					<li routerLinkActive="active">
						<a routerLink="/iceteam">
							<img class="asd-logo" src="assets/icons/logo/logo_iceteam.webp" alt="A.S.D. Ice Team Sanve">
						</a>
					</li>
				</ul>
		    </div>
		</nav>
	</div>

	<router-outlet></router-outlet>

	<footer class="page-footer back-col">
		<div class="row">
			<div class="col l8 s12">
				<h5 class="black-text raleway">Magie D'Inverno ringrazia: </h5>
				<div class="row">
					<div class="col l4 m4 s6 d-sponsor" *ngFor="let sponsor of sponsors">
						<img src={{sponsor.icon}} alt="logo sponsor" class="i-sponsor">
					</div>
				</div>
				<h5 class="left-align hide-on-small-only raleway black-text"> Ci puoi trovare anche su: </h5>
				<h5 class="center-align hide-on-med-and-up raleway black-text"> Ci puoi trovare anche su: </h5>
				<div class="row">
					<div class="footer-icon col">
						<a href="https://www.facebook.com" target="_blank"><img src="assets/icons/social/facebook.png" alt="Facebook" class="icon" mdTooltip="Facebook"></a>
					</div>
					<div class="footer-icon col">
						<a href="https://www.instagram.com/magie_inverno_official/" target="_blank"><img src="assets/icons/social/instagram.png" alt="Instagram" class="icon" mdTooltip="Instagram"></a>
					</div>
					<div class="footer-icon col">
						<a href="https://www.youtube.com/watch?v=L8kx_VK4OMc" target="_blank"><img src="assets/icons/social/youtube.png" alt="YouTube" class="icon" mdTooltip="YouTube"></a>
					</div>
				</div>
			</div>
			<div class="col l4 s12 center-align">
				<h5 class="left-align hide-on-small-only raleway">Per rimanere sempre aggiornato, iscriviti alla nostra newsletter:<br></h5>
				<h5 class="center-align hide-on-med-and-up raleway">Per rimanere sempre aggiornato, iscriviti alla nostra newsletter:<br></h5>
				<a title="iscrizioneNewsletter" class="btn btn-flat white-text" (click)="openNews()" >Iscriviti</a>
				<br><br>
				<h5 class="left-align hide-on-small-only raleway">
					Hai notato degli errori in questa pagina?<br>
					Aiutami a risolverli:
				</h5>
				<h5 class="center-align hide-on-med-and-up raleway">
					Hai notato degli errori in questa pagina?<br>
					Aiutami a risolverli:
				</h5>
				<a title="segnalaBug" class="btn btn-flat white-text" (click)="openBug()" >Segnala un errore</a>
			</div>
		</div>
	  <div class="footer-copyright justify">
	    <div>
	    	<ul class="footer-list hide-on-small-only">
	    		<li class="footer-list"><a class="btn-flat" routerLink="/credits">Credits</a></li>
	    		<li class="footer-list"><a class="btn-flat" routerLink="/privacy">Privacy Policy</a></li>
	    	</ul>
	    	<ul class="footer-list hide-on-med-and-up center-align">
	    		<li><a class="btn-flat" routerLink="/credits">Credits</a></li>
	    		<li><a class="btn-flat" routerLink="/privacy">Privacy Policy</a></li>
	    	</ul>
	    </div>
	  </div>
	</footer>
</md-sidenav-container>
